body{
margin: 0xp;
}
header{
    background-color:#0061a8;
}
footer{
    display: flex;
    background-color:#0061a8;
    color: #d8e3e7;
}

footer .section3{
    text-align: center;
}
footer .section{
    text-align: center;
    color: #d8e3e7;
}
.section2 .img_group img{
            width: 40px;
}
.sidebarDash{
    background-color:#0061a8;
    width: 40px;
    overflow: hidden;
}
.sidebarDash span{
    visibility: hidden;
}
.sidebarDash ul{
    visibility: hidden;
}
.sidebarDash hr{
   color: white;
}
 .sidebarDash:hover{ 
     width: 200px;
     transition:width ease-in-out 1s;
}
.sidebarDash:hover ul{ 
    visibility: visible;
}
.sidebarDash:hover span{ 
    visibility: visible;
}
.titlesidebar{
    color: #d8e3e7;
}
.fullpagecontainer{
    display: flex;
}
.sidebarDash ul li:hover a{ 
    background-color: #d8e3e7;
    color: #0061a8;
}
.sidebaricone img{
    width:30px;
    margin: 3px;
}
.mainstoff{
    width: 100%;
}
.statistics{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 40px;
}
.statistics .squar{
    width: 200px;
    border-radius: 5px;
    color: #d8e3e7;
    height: 100px;
    text-align: center;
    background-color: #0061a8;
}
@media screen and (max-width : 768px) {
    .statistics{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .statistics .squar{
            margin-bottom: 15px;
        }
}
