body{
    background-color: #d8e3e7;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.loginFormContainer{
    position: relative;
    top: 200px;
    background-color: white;
    width: 800px;
    height: 400px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}
.loginFormContainer button{
    background-color:  #0061a8;
    color: #d8e3e7;
    height: 40px;
    width: 200px;
    border-radius: 5px;
}
.loginFormContainer button:hover{
    background-color:  #d8e3e7;
    color: #126e82;
}
.loginheader{
    text-decoration: none;
    color: #0061a8;
    
}
.headerloginContainer{
    width: 100%;
}
.loginwraper{
    width: 50%;
}
.imageHolder{
    width: 50%;
}
.imageHolder img{
    width: 100%;
}
@media screen and (max-width:768px) {
    .loginFormContainer{
        position: relative;
        top: 0px;
        background-color: white;
        width: 400px;
        height: 800px;
        border-radius: 5px;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
    .loginwraper{
        width: 100%;
    }
    .imageHolder{
        width: 100%;
    }
}